
body{
   background-image: url(stdm.jpeg);
   background-size: cover;
}

h1{
    color: rgb(6, 38, 132) ;
    text-shadow: 4px 0px 5px rgb(242, 151, 108) ;
    text-size-adjust: 500;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
  
}
.card {
    width:200px;
    height: 290px;
    border: 2px solid black ;
    display: inline-block;
    margin: 38px ;
    border-radius: 5px ;
    box-shadow: 2px 4px 18px black ;
    transition: 1s;
    font-family: 'Times New Roman', Times, serif ;
}

.desc{
    padding: 0 2px 0 2px ;
}

img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

div{
    background-color: rgb(173, 216, 230 , 0.7);

}

.card:hover{
    box-shadow: 8px 16px 72px goldenrod ;
}

footer{
    color: aliceblue;
    text-align: center;
    margin: 30px auto ;
}